@import 'tailwindcss';

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}

@theme {
    --color-dark-brand: #111111;
    --color-blue-brand: #4c6efc;
    --color-white-brand: #F5F5F5;
    --font-display: "JetBrains Mono";
}
